body {
    font-family: 'Cambria', sans-serif;
    background-size: cover;
    background-image: url(../Assets/AuroraBackground.jpg);
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    font-weight: bolder;
    color: white;

}